# Frontend (Next.js) — projekt Firebase: konfigurator-stal-pol
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=konfigurator-stal-pol.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=konfigurator-stal-pol
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=konfigurator-stal-pol.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=336308273868
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_API_URL=http://localhost:8000
